/*NAVIGATION STARTS HERE. VANILLA JS*/
.wrapper{
    width:100%;
    height:var(--top-row-right);
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.logo{
    height:70px;
}
.nav-menu{
    display:flex;
    list-style: none;    
}
.nav-menu li {
    text-decoration: none;
    padding:30px;
}
.nav-menu li a{
    text-decoration: none;
    color:var(--medicalblue);
}
.nav-menu li a:hover{
    color:red;
    transition: all 1s ease;
}
.nav-menu li button{
    height: 30px;
    width: 70px;
    background-color: var(--medicalblue);
    border: 0;
    border-radius: 3px;
    margin-top: -10px;
    transition: all 0.5s ease;
}
.nav-menu li button:hover{
    background-color: var(--deepmedicalblue);
    color:var(--white);
}
.btn{
    width:var(--top-row-right);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:none;
    border:none;
    color:var(--medicalblue);
    margin-top: 10px;   
}
.material-icons{
    font-size: 3rem;
}
.overlay{
    display:none;
    position: fixed;
    top:0;
    left: 0;
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.2);
}
.overlay-open{
    display:block;
}
.dropdown-menu{
    --nav-width:300px;
    position: fixed;
    top:0;
    right:0;
    background: var(--medicalblue);
    width: var(--nav-width);
    height: 100vh;
    transform: translateX(calc(1 * var(--nav-width)));
    transition: transform 0.5s;
}
.dropdown-open{
    transform:translateX();
}
.nav-link{
    display:block;
    font-size: 1.2rem;
    padding:24px;
    text-decoration: none;
    color: var(--white);
}
.nav-link:hover{
    background: var(--deepmedicalblue);  
}
.nav-link:not(:last-child){
    border-bottom: 1px solid #b9b9b9;
}





@media screen and (max-width:1200px){
    .nav-menu{
        display:none;
    }

}