.navbar{
    background: #9be5aa; 
    height: 100px;
}
.navbar-nav li{
    margin-right: 30px;
}
.navbar-nav li a{
    color:white
}
.navbar-nav li a:hover{
    color:rgb(9, 80, 24);
    cursor:pointer;
}
.image{
    height:300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nurse-and-patient{
    margin-top: 50px;
}
.healthy-family{
    margin-top: 100px;
    margin-left: -30px;
}
.medical-worker{
    margin-top: -100px;
    margin-left: 30px;
}
main .hero-images{
    margin-left: 50px;
}