@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;

}
img{
    max-inline-size: 100%;
    block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/ 
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
:root{
    --medicalgreen:rgb(155, 229, 170);
    --medicalblue:rgb(32, 160, 216);
    --deepmedicalblue:rgb(10, 52, 70);
    --white:hsl(0, 0%, 100%);
    --beige:hsl(60,56%,91%);
    /*Other Color Variants*/
    --red:hsl(10, 86%, 49%);
    --black:hsl(0, 0%, 12%);
    --grey:hsl(0, 0%, 94%);
    --darkgrey:hsl(0, 0%, 24%);
    --blue:rgb(29, 14, 126);
    --coldblue:rgb(11, 1, 49);
    --top-row-right:60px;
}
/*Desktop Styling*/
/*LANDING PAGE STYLING*/
.container{
    width:100%;
}
.content .slides{
    width:100%;
    
}
.content .slides::before{
    content:"";
    position: absolute;
    width:100%;
    height:550px;
    background: rgba(0,0,0,0.5);
    z-index:9;
}
.slides img{
    width:100%;
    height:550px;
}
.slides .image-overlay{
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 100px;
    z-index:11;
}
.image-overlay h1{
    font-size: 3rem;
    color: var(--white);
}
.image-overlay h2{
    font-size: 1.5rem;
    color: var(--white);
}
.image-overlay a{
    text-decoration: none;
    color: var(--white);
    background: var(--medicalblue);
    padding: 14px 32px;
    display: inline-block;
    margin-top: 1rem;
    transition:0.5s ease-out;
}
.image-overlay a:hover{
    background: var(--blue);    
}
.swiper-btn{
    background: rgba(0,0,0,0.3);
    padding:2rem;
    border-radius: 50%;
}
.swiper-btn::after{
    font-weight: bolder;
}
#about{
    margin-top: 50px;
    height:400px;
    margin-bottom: 50px;
}
.about{
    display:flex;
    justify-content: space-around;
    gap:100px;
    padding:25px 95px;
}
.about img{
    width:400px;
    border-radius: 50%;
}
.about-text{
    text-align: center;
    margin-top: 40px;
    
}
.about-text h2{
    color:var(--medicalblue);
    font-size: 2.5rem;
}
.about-text p{
    margin-top: 20px;
    line-height: 25px;
    font-size:1.2rem;
}
.about-text a{
    text-decoration: none;
    color: var(--white);
    background: var(--medicalblue);
    padding: 14px 32px;
    display: inline-block;
    margin-top: 1rem;
    transition:0.5s ease-out;
    margin-top: 40px;
}
.about-text a:hover{
    background: var(--blue);
}
#why-us{
    background-image: url(/images/why-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:600px;
    padding: 150px;   
}
.why-us-text h2{
    font-size: 2.5rem;
}
.why-us-text h3{
    font-size: 2rem;
    white-space: pre-line;
}
.why-us-text p{
    font-size: 1.5rem;
    white-space: pre-line;
}
.why-us-text a{
    text-decoration: none;
    color: var(--white);
    background: transparent;
    padding: 14px 32px;
    display: inline-block;
    margin-top: 1rem;
    transition:0.5s ease-out;
    margin-top: 40px;
    border: 1px solid black;
}
.why-us-text a:hover{
    background: var(--blue);
}
#career{
    background: var(--grey);
    height:400px;
    padding:100px;
}
.career-text{
    text-align: center;
}
.career-text h2{
    color: var(--medicalblue);
    font-size: 2.5rem;
}
.career-text p{
    font-size: 1.2rem;
    padding: 20px 150px;
}
.career-text a, .card .contact-btn {
    text-decoration: none;
    color: var(--white);
    background: var(--medicalblue);
    padding: 14px 32px;
    display: inline-block;
    margin-top: 1rem;
    transition:0.5s ease-out;
}
.career-text a:hover{
    background: var(--blue);
}
footer{
    height:400px;
}
.footer{
    display:flex;
    justify-content:space-around;
    padding:50px 50px
}
.page-links h5, .address-links h5, .social-media h5{
    font-size: 1.5rem;
    color:var(--medicalblue);
}
.footer-nav, .media{
    list-style: none;
    margin-top: 30px;
}
.footer-nav li a, .footer-nav li{
    text-decoration: none;
    line-height: 35px;
    font-size: 1.2rem;
    color: var(--black);
}
.footer-nav li a:hover, .media .bx:hover{
    color: var(--medicalblue);
}
.media{
    display:flex;
    justify-content: space-between;
    gap:30px;
}
.media .bx{
    color: var(--black);
}
.footer-logo{
    width:300px;
}
.attribute{
    height:200px;
    text-align: center;
}
.attribute a{
    text-decoration: none;
}
@media(max-width:760px){
    .slides .image-overlay{
        text-align: left;
        top:0;
    }
    .image-overlay h1{
        font-size: 1rem;
        color: var(--white);
    }
    .image-overlay h2{
        font-size: 0.5rem;
        color: var(--white);
    }
    .swiper-btn{
        display: none;
    }
    .slides .image-overlay{
        padding: 40px 10px;
    }
    .slides img{
        height:auto;
    }
    .image-overlay a{
        padding: 7px 10px;
        margin-top: 0.5rem;
    }
    #about{
        margin-top: 50px;
        height:700px;
        margin-bottom: 50px;
        
    }
    .about{
        display:inline-block;
        padding:30px;
    }
    .about img{
        width:200px;
        margin-left: 60px;
    }
    #career{
        padding:30px;
    }
    .career-text{
        margin-top: 20px;
    }
    .career-text p{
        padding:0;
        margin-top: 20px;
    }
    .career-text h2{
        font-size: 1.5rem;
    }
    #why-us{
        padding: 50px;  
        height:450px; 
    }
    .why-us-text h2{
        font-size: 1.5rem;
    }
    .why-us-text h3{
        font-size: 1rem;
        margin-top: 20px;
    }
    .why-us-text p{
        font-size: 1rem;
        white-space: pre-line;
    }
    .why-us-text a:hover{
        background: var(--blue);
    }
    footer{
        height:850px;
    }
    .footer{
        display:inline-block;
    }
    .address-links, .social-media, .footer a{
        margin-top: 20px;
    }
}
/*CONTACT PAGE STYLING (DESKTOP)*/
.contact-message{
    text-align: center;
}
.contact-message h1, .card .bx{
    font-size: 2.5rem;
    color: var(--medicalblue);
}
.contact img{
    width:100%;
}
.contact-message p{
    font-size: 1.5rem;
    color: var(--darkgrey);
}
.contact-cards{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card{
    text-align: center;
    width: 400px;
    padding:50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 40px;
    margin-top: 30px;
}
.card h2{
    color: var(--medicalblue);
}
.card p{
    margin-top: 30px;
    font-size: 1.3rem;
}
.card .contact-btn{
    font-size: 1rem;
    transition:0.5s ease-out;
}
.card .contact-btn:hover{
    background: var(--blue);
}
#support-form{
    background-color: var(--grey);
    height: 500px;
    margin-top: 50px;
}
#sales-form{
    background-color: var(--grey);
    height: 500px;
}
.support-form, .sales-form{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.support-form h2, .sales-form h2, .applicant-text h2{
    font-size: 2rem;
    color: var(--medicalblue);
}
.support-form p,.sales-form p{
    font-size: 1.3rem;
    margin-top: 20px;
}
.support-form input, .sales-form input{
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    display: block;
}
.support-form textarea, .sales-form textarea{
    width: 420px;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
}

.spprt-btn, .sls-btn{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    background: var(--medicalblue);
    border: none;
    color: var(--white);
    font-size: 1rem;
    transition:0.5s ease-out;
}
.spprt-btn:hover, .sls-btn:hover{
    background-color: var(--blue);
    cursor: pointer;
}
.support-form-details h2, .sales-form-details h2{
    text-align: center;
}
.support-form-details, .sales-form-details{
    margin-top: 100px;
}
.support-form-details ul, .sales-form-details ul{
    margin-top: 20px;
    line-height: 25px;
}
.support-form-details ul li, .sales-form-details ul li{
    list-style: none;
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
}
#applicant{
    height: 300px;
    padding: 50px;
}
.applicant{
    display:flex;
    justify-content: center;
    gap: 300px;
    margin-top: 50px;
}
.applicant-text{
    text-align: center;
}
.applicant-text p{
    font-size: 1.2rem;
}
.applcnt-btn{
    background-color: var(--medicalblue);
    padding:15px 30px;
    height:50px;
    text-decoration: none;
    color: var(--white);
}
.applcnt-btn:hover{
    background: var(--blue);
}
/*CONTACT PAGE STYLING (MOBILE)*/
@media(max-width:760px){
    .contact-message{
        padding: 25px;
    }
    .contact-message h1{
        font-size: 1.5rem;
    }
    .contact-message p{
        font-size: 1.2rem;
    }
    .contact-cards{
        margin-top: 0;
        display: inline-block;
    }
    .card{
        width:300px;    
    }
    .card p{
        font-size: 1rem;
    }
    #support-form, #sales-form{
        height:800px;
    }
    .support-form, .sales-form{
        display: inline-block;
        text-align: center;
    }
    .support-form input ,.support-form textarea,.sales-form input, .sales-form textarea{
        width:300px;
    }
    .support-form-details,.sales-form-details,.sales-form form{
        margin-top: 20px;
    }
    .support-form-details ul li, .sales-form-details ul li, .applicant p{
        font-size: 1rem;
    }
    .applicant{
        display: inline-block;
        text-align: center;
        margin-top: 0;
    }
}

/*REGISTRATION PAGE STYLE*/
.form{
    margin-top: 50px;
    background-image: linear-gradient(to right, var(--medicalblue) , var(--deepmedicalblue));     
    padding:40px 100px;
    text-align: cnter;
}
.form h2{
    font-size:2rem;
    color: var(--white);   
}
label{
    display: block;
    margin-top: 20px;
}
input{
    height:40px;
    width:400px;
    padding: 10px;
}
select{
    height:40px;
}
.reg-btn,.login-btn{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    background: var(--medicalblue);
    border: 1px var(--black) solid;
    color: var(--white);
    font-size: 1rem;
    transition:0.5s ease-out;
}
.reg-btn:hover{
    background: var(--blue);
}
@media(max-width:760px){
    .form{
        padding: 20px;
    }
    .form h2{
        font-size: 1.5rem;
    }
    input{
        width:320px;
    }    
}
/*LOGIN FORM STYLE*/
#login-form{
    display: flex;
    justify-content: center;
    height: 400px;
    background-image: url(/images/why-background.png);
    padding: 20px 50px;
}
.login-form{
    padding: 50px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 350px;
}
.login-btn {
    text-decoration: none;
    color: var(--white);
    background: transparent;
    padding: 14px 32px;
    display: inline-block;
    margin-top: 0;
    transition:0.5s ease-out;
    margin-top: 40px;
    border: 1px solid black;
}
.login-btn:hover{
    background-color: var(--blue);
}
