@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
img{
    max-inline-size: 100%;
    block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/ 
}
:root{
    --medicalgreen:rgb(155, 229, 170);
    --medicalblue:rgb(32, 160, 216);
    --deepmedicalblue:rgb(10, 52, 70);
    --white:hsl(0, 0%, 100%);
    /*Other Color Variants*/
    --red:hsl(10, 86%, 49%);
    --black:hsl(0, 0%, 12%);
    --grey:hsl(0, 0%, 38%);
    --darkgrey:hsl(0, 0%, 24%);
    --blue:rgb(29, 14, 126);
    --coldblue:rgb(11, 1, 49);
    --top-row-right:60px;
}
/*Desktop Styling*/
/*Landing Page Styling*/
.hero-wrapper{
    display: flex;
    justify-content: space-between;
    padding:10px 100px;
}
.hero-texts{
    line-height: 20px;
    margin-top:100px;
}
.hero-image{
    height:450px;
}
.hero-head{
    font-size: 3rem;
    color:var(--medicalblue);
}
.hero-text{
    font-size: 1.3rem;
    line-height: 30px;
}
button{
    background-color: var(--medicalblue);
    padding:15px;
    margin-top: 20px;
    border:0;
    width: 200px;  
    transition:all 0.5s ease-out;  
}
button:hover{
    background-color:var(--blue);
}
button a{
    color:var(--white);
    font-size: 1.2rem;
    text-decoration: var(--white);
    transition:all 0.5s ease-out; 
}
button a:hover{
    font-weight: bold;
}
.socials h5{
    color:var(--medicalblue)
}
.media-bar{
    display:flex;
}
.media{
    display:flex;
    justify-content: space-between;
    gap:20px;
    margin-top: 20px;
}
.media li{
    list-style: none;
}
.media .bx{
    color:var(--medicalblue);
    transition:all 0.5s ease-in-out;
}
.media .bx:hover{
    color:var(--blue);
    transform: scale(1.07);
}
/*Landing Page Styling END*/
/*IPAD Styling*/
/*Landing Page Styling*/
@media (min-width:800px) and (max-width:1200px){
    .hero-wrapper{
        display: flex;
        justify-content: space-between;
        padding:10px 100px;
    }
    .hero-texts{
        line-height: 20px;
        margin-top:100px;
    }
    .hero-image{
        height:450px;
    }
    .hero-head{
        font-size: 2rem;
        color:var(--medicalblue);
    }
    .hero-text{
        font-size: 1.3rem;
        line-height: 30px;
    }
    button{
        background-color: var(--medicalblue);
        padding:15px;
        margin-top: 20px;
        border:0;
        width: 200px;  
        transition:all 0.5s ease-out;  
    }
    button:hover{
        background-color:var(--blue);
    }
    button a{
        color:var(--white);
        font-size: 1.2rem;
        text-decoration: var(--white);
        transition:all 0.5s ease-out; 
    }
    button a:hover{
        font-weight: bold;
    }
    .socials h5{
        color:var(--medicalblue)
    }
    .media-bar{
        display:flex;
    }
    .media{
        display:flex;
        justify-content: space-between;
        gap:20px;
        margin-top: 20px;
    }
    .media li{
        list-style: none;
    }
    .media .bx{
        color:var(--medicalblue);
        transition:all 0.5s ease-in-out;
    }
    .media .bx:hover{
        color:var(--blue);
        transform: scale(1.07);
    }
}

/*Landing Page Styling END*/
/*LOGIN OVERLAY STYLING*/
