@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;

}
img{
    max-inline-size: 100%;
    block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/ 
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
:root{
    --medicalgreen:rgb(155, 229, 170);
    --medicalblue:rgb(32, 160, 216);
    --deepmedicalblue:rgb(10, 52, 70);
    --white:hsl(0, 0%, 100%);
    --beige:hsl(60,56%,91%);
    /*Other Color Variants*/
    --red:hsl(10, 86%, 49%);
    --black:hsl(0, 0%, 12%);
    --grey:hsl(0, 0%, 94%);
    --darkgrey:hsl(0, 0%, 24%);
    --blue:rgb(29, 14, 126);
    --coldblue:rgb(11, 1, 49);
    --top-row-right:60px;
}
/*Desktop Styling*/
/*LANDING PAGE STYLING*/
.container{
    width:100%;
}
.content .slides{
    width:100%;
    
}
.content .slides::before{
    content:"";
    position: absolute;
    width:100%;
    height:550px;
    background: rgba(0,0,0,0.5);
    z-index:9;
}
.slides img{
    width:100%;
    height:550px;
}
.slides .image-overlay{
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 100px;
    z-index:11;
}
.image-overlay h1{
    font-size: 3rem;
    color: var(--white);
}
.image-overlay h2{
    font-size: 1.5rem;
    color: var(--white);
}
.image-overlay a{
    text-decoration: none;
    color: var(--white);
    background: var(--medicalblue);
    padding: 14px 32px;
    display: inline-block;
    margin-top: 1rem;
    transition:0.5s ease-out;
}
.image-overlay a:hover{
    background: var(--blue);    
}
.swiper-btn{
    background: rgba(0,0,0,0.3);
    padding:2rem;
    border-radius: 50%;
}
.swiper-btn::after{
    font-weight: bolder;
}
#about{
    margin-top: 50px;
    height:400px;
    margin-bottom: 50px;
}
.about{
    display:flex;
    justify-content: space-around;
    gap:100px;
    padding:25px 95px;
}
.about img{
    width:400px;
    border-radius: 50%;
}
.about-text{
    text-align: center;
    margin-top: 40px;
    
}
.about-text h2{
    color:var(--medicalblue);
    font-size: 2.5rem;
}
.about-text p{
    margin-top: 20px;
    line-height: 25px;
    font-size:1.2rem;
}
.about-text a{
    text-decoration: none;
    color: var(--white);
    background: var(--medicalblue);
    padding: 14px 32px;
    display: inline-block;
    margin-top: 1rem;
    transition:0.5s ease-out;
    margin-top: 40px;
}
.about-text a:hover{
    background: var(--blue);
}
#career{
    background: var(--grey);
    height:400px;
    padding:100px;
}
.career-text{
    text-align: center;
}
.career-text h2{
    color: var(--medicalblue);
    font-size: 2.5rem;
}
.career-text p{
    font-size: 1.2rem;
    padding: 20px 150px;
}
.career-text a{
    text-decoration: none;
    color: var(--white);
    background: var(--medicalblue);
    padding: 14px 32px;
    display: inline-block;
    margin-top: 1rem;
    transition:0.5s ease-out;
}
.career-text a:hover{
    background: var(--blue);
}
footer{
    height:400px;
}
.footer{
    display:flex;
    justify-content:space-between;
    gap:50px;
    padding:50px 200px
}
.page-links h5, .address-links h5{
    font-size: 1.3rem;
}
.footer-nav{
    list-style: none;
    margin-top: 30px;
}
.footer-nav li a{
    text-decoration: none;
    line-height: 35px;
    font-size: 1.2rem;
}
@media(max-width:760px){
    .slides .image-overlay{
        text-align: left;
        top:0;
    }
    .image-overlay h1{
        font-size: 1rem;
        color: var(--white);
    }
    .image-overlay h2{
        font-size: 0.5rem;
        color: var(--white);
    }
    .swiper-btn{
        display: none;
    }
    .slides .image-overlay{
        padding: 40px 10px;
    }
    .slides img{
        height:auto;
    }
    .image-overlay a{
        padding: 7px 10px;
        margin-top: 0.5rem;
    }
    #about{
        margin-top: 50px;
        height:700px;
        margin-bottom: 50px;
        
    }
    .about{
        display:inline-block;
        padding:30px;
    }
    .about img{
        width:200px;
        margin-left: 60px;
    }
    #career{
        padding:30px;
    }
    .career-text{
        margin-top: 20px;
    }
    .career-text p{
        padding:0;
    }
    .career-text h2{
        font-size: 1.5rem;
    }
}



